* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, "Roboto", "Roboto Mono";
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 57px;
  opacity: 98%;
  background: #232323;
  display: flex;
  align-items: center;
}
header .burger-container {
  position: absolute;
  margin-left: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
header .burger-container .burger-btn {
  background: #fff;
  width: 18px;
  height: 2px;
  position: relative;
}
header .burger-container .burger-btn::before {
  background: #fff;
  width: 18px;
  height: 2px;
  position: absolute;
  content: "";
  transform: translateY(5px);
}
header .burger-container .burger-btn::after {
  background: #fff;
  width: 18px;
  height: 2px;
  position: absolute;
  content: "";
  transform: translateY(-5px);
}
header img {
  height: 40px;
  margin-left: 57px;
}
header img:hover {
  cursor: pointer;
}
header .search-container {
  display: flex;
  position: relative;
}
header .search-container input {
  margin-left: 115px;
  font-family: inherit;
  font-size: 1rem;
  width: 575px;
  padding-left: 13px;
  outline: none;
  border: 1px solid #3c3c3c;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  background: #181818;
  color: white;
}
@media (max-width: 768px) {
  header .search-container input {
    width: 250px;
    margin-left: 20px;
  }
}
header .search-container .search-btn {
  cursor: pointer;
  width: 64px;
  height: 33px;
  background: #373737;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
header .search-container .fa-search {
  pointer-events: none;
  position: absolute;
  top: 8px;
  right: 27px;
  color: #737373;
  font-size: 1rem;
}
header .fa-microphone {
  cursor: pointer;
  margin-left: 20px;
  color: white;
  font-size: 1.2rem;
}
header .additional-icons {
  margin-left: 67px;
}
header .additional-icons i {
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  padding-left: 1.4rem;
}
@media (max-width: 768px) {
  header .additional-icons {
    margin-left: 10px;
  }
  header .additional-icons i {
    padding-left: 1rem;
    font-size: 1rem;
  }
}
header .user-btn {
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 43px;
  border-radius: 50%;
  background-image: url("images/kaisa.png");
  background-position: center;
  background-size: cover;
  height: 2rem;
  width: 2rem;
}

main {
  display: flex;
  background: #191919;
  padding-top: 55px;
  padding-bottom: 75px;
}
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
}
main section {
  width: 60vw;
  margin-left: 32px;
  padding-top: 12px;
  padding-bottom: 15px;
}
@media (max-width: 768px) {
  main section {
    margin-left: 5px;
  }
}
main section .video-player iframe {
  border: none;
  width: 710px;
  height: 399.38px;
}
@media (max-width: 768px) {
  main section .video-player iframe {
    width: 624px;
    height: 351px;
  }
}
@media (min-width: 1920px) {
  main section .video-player iframe {
    width: 844px;
    height: 477px;
  }
}
main section .title-and-buttons {
  position: relative;
  margin-left: 32px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3c3c3c;
  width: 710px;
}
main section .title-and-buttons .video-title {
  padding-bottom: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
main section .title-and-buttons .views-and-date {
  font-size: 0.9rem;
  font-weight: 500;
  color: #aaaaaa;
}
main section .title-and-buttons .like-dislike-buttons {
  position: absolute;
  display: flex;
  top: 47px;
  right: 10px;
  color: #aaaaaa;
}
main section .title-and-buttons .like-dislike-buttons div {
  display: flex;
  cursor: pointer;
}
main section .title-and-buttons .like-dislike-buttons i {
  font-size: 1.3rem;
  margin-left: 20px;
}
main section .title-and-buttons .like-dislike-buttons p {
  font-size: 0.9rem;
  font-weight: 600;
  margin-left: 7px;
}
main section .title-and-buttons .like-dislike-buttons .save-burger {
  margin-top: 5px;
  margin-left: 20px;
  background: #aaaaaa;
  width: 13px;
  height: 2px;
  position: relative;
}
main section .title-and-buttons .like-dislike-buttons .save-burger::before {
  background: #aaaaaa;
  width: 13px;
  height: 2px;
  position: absolute;
  content: "";
  transform: translateY(4px);
}
main section .title-and-buttons .like-dislike-buttons .save-burger::after {
  background: #aaaaaa;
  width: 13px;
  height: 2px;
  position: absolute;
  content: "";
  transform: translateY(-4px);
}
main section .title-and-buttons .like-dislike-buttons .fa-ellipsis-h {
  cursor: pointer;
}
main section .description {
  color: white;
  max-width: 710px;
  border-bottom: 1px solid #3c3c3c;
}
main section .description .channel-info {
  position: relative;
  display: flex;
  margin-left: 0;
  width: 710px;
}
main section .description .channel-info .channel-logo {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  background-image: url("images/fireship-logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main section .description .channel-info .info-container {
  position: relative;
  margin-top: 10px;
  margin-left: 15px;
}
main section .description .channel-info .info-container a {
  font-size: 0.87rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
}
main section .description .channel-info .info-container .fa-check-circle {
  position: absolute;
  top: 3px;
  left: 60px;
  color: #aaaaaa;
  font-size: 0.8rem;
}
main section .description .channel-info .info-container .subscribers {
  font-size: 0.77rem;
  color: #aaaaaa;
}
main section .description .channel-info .sub-button {
  position: absolute;
  top: 17px;
  right: 10px;
  padding: 10px 12px;
  border: none;
  background: red;
  color: white;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 600;
  font-size: 0.87rem;
}
main section .description .description-text {
  margin-left: 60px;
  width: 610px;
  font-size: 0.87rem;
}
main section .description .description-text a {
  text-decoration: none;
  color: #0096c7;
}
main section .description .show-more {
  margin-top: 20px;
  margin-left: 60px;
  cursor: pointer;
  color: #aaaaaa;
  font-size: 0.77rem;
  font-weight: 600;
}
main .comments {
  color: #aaaaaa;
}
main .comments .comment-info {
  margin-left: 1px;
  display: flex;
}
main .comments .comment-info h1 {
  font-weight: 500;
  color: white;
}
main .comments .comment-info .fa-stream {
  margin-left: 30px;
  font-size: 1rem;
}
main .comments .comment-info p {
  margin-left: 10px;
  font-weight: 600;
  font-size: 0.9rem;
}
main .comments .push-comment {
  position: relative;
  display: flex;
  margin-left: 0;
}
main .comments .push-comment .profile-pic {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-image: url("images/kaisa.png");
  background-size: cover;
  background-repeat: no-repeat;
}
main .comments .push-comment input {
  margin-top: 3px;
  margin-left: 15px;
  padding-bottom: 2px;
  width: 655px;
  height: 26px;
  background: inherit;
  border: none;
  border-bottom: 1px solid #3c3c3c;
  outline: none;
  font-size: 0.9rem;
  color: white;
}
main .comments .push-comment input::placeholder {
  color: #aaaaaa;
}
main .comments .comment-list {
  margin-top: 30px;
  margin-left: 0;
}
main .comments .comment-list .comment {
  display: flex;
  margin-top: 30px;
}
main .comments .comment-list .comment .img-container {
  width: 40px;
  height: 100%;
}
main .comments .comment-list .comment .img-container .one {
  background-image: url("images/fireship-logo.jpg");
}
main .comments .comment-list .comment .img-container .two {
  background-image: url("images/r-letter.jpg");
}
main .comments .comment-list .comment .img-container .three {
  background-image: url("images/m-letter.jpg");
}
main .comments .comment-list .comment .img-container .four {
  background-image: url("images/m-letter.jpg");
}
main .comments .comment-list .comment .img-container .five {
  background-image: url("images/u-letter.jpg");
}
main .comments .comment-list .comment .img-container .user-img {
  min-width: 35px;
  min-height: 35px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}
main .comments .comment-list .comment .other-content {
  margin-left: 17px;
}
main .comments .comment-list .comment .other-content .pinned-by {
  display: flex;
  font-size: 0.55rem;
}
main .comments .comment-list .comment .other-content .pinned-by i {
  color: white;
  margin-top: 3px;
}
main .comments .comment-list .comment .other-content .pinned-by h2 {
  margin-left: 5px;
  font-weight: 500;
}
main .comments .comment-list .comment .other-content #user-time {
  display: flex;
}
main .comments .comment-list .comment .other-content #user-time .user {
  margin-top: 13px;
  font-size: 0.7rem;
  font-weight: 500;
  color: white;
}
main .comments .comment-list .comment .other-content #user-time a {
  color: inherit;
  text-decoration: none;
}
main .comments .comment-list .comment .other-content #user-time .pinned {
  margin-top: 11px;
  width: 77px;
  padding: 3px 7px;
  display: flex;
  align-items: center;
  background: #aaaaaa;
  border-radius: 40px;
  font-size: 0.65rem;
}
main .comments .comment-list .comment .other-content #user-time .pinned i {
  margin-left: 5px;
}
main .comments .comment-list .comment .other-content #user-time .time {
  margin-top: 14px;
  margin-left: 10px;
  font-size: 0.75rem;
}
main .comments .comment-list .comment .other-content .comment-content {
  margin-top: 10px;
  color: white;
  font-size: 0.92rem;
  margin-right: 110px;
}
main .comments .comment-list .comment .other-content .comment-content a {
  text-decoration: none;
  color: #0096c7;
}
main .comments .comment-list .comment .other-content .comment-controls {
  display: flex;
  margin-top: 16px;
  margin-bottom: 18px;
  font-size: 0.9rem;
  font-weight: 600;
}
main .comments .comment-list .comment .other-content .comment-controls .fa-thumbs-up {
  cursor: pointer;
}
main .comments .comment-list .comment .other-content .comment-controls .fa-thumbs-down {
  margin-left: 20px;
  cursor: pointer;
}
main .comments .comment-list .comment .other-content .comment-controls .likes {
  margin-left: 10px;
}
main .comments .comment-list .comment .other-content .comment-controls .reply {
  margin-left: 25px;
  cursor: pointer;
}
main .comments .comment-list .comment .other-content .replies {
  position: relative;
  display: inline;
  color: #0096c7;
  cursor: pointer;
}
main .comments .comment-list .comment .other-content .replies .fa-caret-down {
  position: absolute;
}
main .comments .comment-list .comment .other-content .replies p {
  margin-left: 25px;
  width: 120px;
  font-size: 0.9rem;
  font-weight: 600;
}
main .video-suggestions {
  padding-top: 25px;
  margin-right: 0;
}
main .video-suggestions a {
  text-decoration: none;
}
main .video-suggestions .suggestion {
  margin-bottom: 9px;
  display: flex;
  width: 370px;
}
main .video-suggestions .suggestion .preview-image1 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/react-hooks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .preview-image2 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/vue-100.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .preview-image3 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/2021-trends.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .preview-image4 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/7-database.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .preview-image5 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/angular-100.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .preview-image6 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/chat-app.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .preview-image7 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/css-rematch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .preview-image8 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/react-begginers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .preview-image9 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/react-ts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .preview-image10 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/react-authentication.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .preview-image11 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/node-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .preview-image12 {
  min-height: 94px;
  min-width: 167.11px;
  background-image: url("images/thumbnails/sass-course.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
main .video-suggestions .suggestion .suggetion-text {
  margin-left: 9px;
  color: #aaaaaa;
  font-size: 0.72rem;
}
main .video-suggestions .suggestion .suggetion-text h3 {
  color: white;
  font-size: 0.85rem;
}
main .video-suggestions .suggestion .suggetion-text .channel {
  display: flex;
  margin-top: 5px;
}
main .video-suggestions .suggestion .suggetion-text .channel p {
  font-size: 0.85rem;
}
main .video-suggestions .suggestion .suggetion-text .channel i {
  margin-top: 2.5px;
  margin-left: 5px;
}
main .video-suggestions .suggestion .suggetion-text .views {
  margin-top: 5px;
}

/*# sourceMappingURL=style.css.map */
